// Theme Variables
:root {
  // Default theme
  --q-primary: #3498db;
  --q-secondary: #1abc9c;
  --q-accent: #e8f6f3;
  
  // Common colors
  --q-positive: #21ba45;
  --q-negative: #c10015;
  --q-info: #3498db;;
  --q-warning: #f2c037;
  
  // Background colors
  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  
  // Text colors
  --text-primary: #000000;
  --text-secondary: #616161;
}